
/*kalkylator*/
#kalkylator {
    background-color: #cdc2b6; 
}

/**/
/*test*/

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
   
}

.rubrik {
    font-size: 22px;
    margin-right: 10px;
}

#value1 {
    padding: 10px;
    width: 50px;
    height: 50%;
    border-radius: 10%;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

#value2 {
    padding: 10px;
    width: 50px;
    height: 50%;
    border-radius: 10%;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 20px;
}

#operator {
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 90px;
    height: 30%;
    border-radius: 10%;
}

#buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 25px;
 
}

#buttoncontainer button {
    margin-right: 10px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 10px;
    background-color:#e9b285;
    padding: 0 5px 0 5px;
    margin-bottom: 10px;
  
}



/*max min*/

  /* ... (din befintliga CSS) */

/*max min*/

#maxmin{
  margin-top: 40px;
  padding: 40px;
}

#button {
    background-color: rgb(125, 222, 249);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
  }
  
  .numberinput {
    padding-left: 5px;
    margin-bottom: 10px;
  }
  
  .max {
    width: 350px;
    padding: 50px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 50px;
    background-color: #f8a9be;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px;
    border-radius: 5px;

  }
  
  .min {
    width: 350px;
    padding: 50px;
    background-color:  #f8a9be;
    margin-left: 50px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 3px;
    border-radius: 5px;
  }
  
  .kalk {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    
  }

  @media screen and (max-width: 600px) {
    .kalk {
      /* Här ändrar vi display för "max" och "min" på mindre skärmar */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .max,
    .min {
      /* Här ändrar vi färgen på "max" och "min" på mindre skärmar */
      background-color: blue;
    
    }
  
    .min {
      margin-top: 10px; /* Justerar mellanrummet mellan "max" och "min" */
    }
  }
  