.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.switch {
  display: flex;
  padding: 10px;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px
  
}

.light {
  background-color: #fbfaf9;
  color: rgb(108, 108, 107);
}

.light .switch label {
  color: rgb(108, 107, 107);
}

.dark {
  background-color: #242254;
  color: rgb(134, 96, 47);
}

.dark .switch .labelett {
  color: rgb(246, 248, 201);
}

.dark .switch label {
  color: black;
}

.button {
  margin-left: 10px;
  border: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(206, 176, 117);
}

.light .button {
  background-color: #f7f4e3;
}

.ruta {
  margin-top: 10px;
}

.dark .ruta {
  background-color: rgb(162, 127, 80);
  padding: 50px;
  border-radius: 10px;
}

.light .ruta {
  background-color: rgb(247, 246, 241);
  padding: 50px;
  border-radius: 10px;
}

.ruta p {
  font-size: 22px;
}

.search-box {
  margin-bottom: 20px
}


.togglebutton {
  background-color: #c3e1d8;
  border-radius: 5px;
  font-size: 15px;
  padding: 20px;
  margin-top: 20px;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
