/*Home*/

@media screen and (max-width: 600px) {

    .eva {
        margin-left: 35%;
        margin-top: 25px;
    
    }

    .evatext {
        font-size: 25px;
    }

    .homebutton{
        font-size: 1rem;
        border: 2px solid white;
    }

    .om, .kul{
        display: none;
       }

       .skills{
        padding-top: 250px;
    
        }
    
        .skillsp {
            font-size: 18px;
        }

        .work{
            padding-top: 60px;
            }
        
            
  }



  


@media screen and (max-width: 600px) {
    .skills{
    padding-top: 250px;

    }

    .skillsp {
        font-size: 18px;
    }

    .work{
        padding-top: 120px;
    }
  }

    /*Work*/

@media screen and (max-width: 376px) {
    .eva {
        margin-left: 35%;
        margin-top: 90px;
    }

    #about article{
        margin-top: 80px;
    }

    .small, .erfarenhet, .projekt{
        display: none;
    }

    #work{
       padding-top: 110px;

    }
    
   
  }


  
  

  
  