@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 160px;
  width: 200px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  )!important;
}

.gradient-bg {
  background: linear-gradient(to right, #df538e, #f3a3c4);
  display: inline-block;
  padding: 1px 6px 1px 6px; /* Justera önskad padding */
  border-radius: 2px; /* Justera önskad border radius */
  filter: brightness(1); /* Justera önskad ljusstyrka */
}

@media (max-width: 1023px) {
  .hide-on-small-screen {
    display: none;
  }
  .fix {
    padding-bottom: 50px;
  }
}

@media (max-width: 1023px) {
  .mover {
    margin-left: 400px;
  }
}

@media (max-width: 768px) {
  .mover {
    margin-left: 350px;
  }
}

@media (max-width: 400px) {
  .test {
    font-size: 12px;
    padding-bottom: 150px;
  }
}

@media (min-width: 1024px) {
  .test {
    font-size: 12px;
    padding-bottom: 90px;
  }
}

@media (min-width: 516px) {
  .test {
    font-size: 12px;
    padding-bottom: 120px;
  }
}


